@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
  font-family: 'Courier New', monospace;
  margin: 0px;
  padding: 0px;
  background-color: #f4f4f4;
  color: black;
}

header{
  text-align: center;
  padding: 20px;
  border-bottom: dashed;
}

a{
  margin: 20px;
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

section{
  padding: 2em;
}

img.profile{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px grey;
  display: block;
  margin: auto;
}

progress{
  width: 500px;
  height: 10px;
  border: solid 2px black;
  background-color: #f4f4f4;
  color: black;
}

progress::-webkit-progress-bar {
  background-color: #f4f4f4;
}

progress::-webkit-progress-value  {
  background-color: black;
}

progress::-moz-progress-bar  {
  background-color: black;
}

details{
  display: flex;
  border: dashed 2px gray;
  padding: 20px;
  margin: 20px;
}

details:hover{
  border: solid;
}
